html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('bilder/pingvin\ spill\ natt\ oppgrade.png');
    background-size: 1400px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
